/*
Custom CSS - Extends Bootstrap
Project: Case Study 4
Team: Landon Rice, Sheldon C. Wright
File: style.css;
*/
body {
  color: #616161;
}
.jumbotron {
  background-color: #0D47A1;
  color: #BBDEFB;
}
.btn-primary {
  background-color: #1565C0;
  border: none;
}
.btn-primary:hover {
  background-color: #fff;
  color: #1565C0;
}
.display-3 {
  color: #ffffff;
}
.btn-secondary {
  background-color: #1565C0;
  border: none;
}
.btn-secondary:hover {
  background-color: #fff;
  color: #1565C0;
}
h2 {
  color: #0D47A1;
}
.btn-outline-success {
  border: 1px solid #00B3C5;
  color: #00B3C5;
}
.btn-outline-success:hover {
  background: #00b3c5;
  border: 1px solid #00B3C5;
  color: #fff;
}
.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.example {
background-color: #f5f5f5;
margin-left: 60px;
border: 2px solid black;
border-radius: 5px;
line-height: 1em;

}

.underlined {
  text-decoration: underline;
  margin-left: 50px;
}

footer {
  float: right;
}
